<tr>
  <td colspan="15" class="player-name">
    <%= name %>
  </td>
</tr>
<tr id="player-<%= idx %>" data-name="<%= name %>" data-url="<%= url %>">
  <td class="track active" ></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
    <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
  <td class="track"></td>
</tr>
<tr class="buffer"></tr>



