<div class='container'>
  <h1 id='title'>Ruby Racer</h1>

   <image class='ruby-racer' src='/images/ruby.jpeg' alt='Ruby Racer'>

  <div class='game-form'>
    <div class='errors'>
    <%= @player_game.errors.full_messages.join '. ' if @player_game %>
    </div>
    <h3 id='names'>Enter your names to play!</h3>  
    <form action='/games' method='post' id='game-form'>
      <input type='text' name='player_names[]' class='input1' placeholder='Player1'/>

      <input type='text' name='player_names[]' class='input' placeholder='Player2'/>

      <input type='submit' value='Play Game!' class='submit'>
    </form>

   
  </div>
  

</div>
